@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
  background: hsl(218, 28%, 13%);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 50px;
  padding: 15px 75px;
  cursor: pointer;
}
.screen-reader {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Header */
.header {
  background: hsl(217, 28%, 15%);
  display: flex;
  justify-content: space-between;
  padding: 50px 0 100px 100px;
}
.header__logo {
  align-self: center;
}
.header__menu {
  display: flex;
  list-style: none;
  padding: 0;
}
.header__menu__item {
  margin-right: 100px;
}
.header__menu__link {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
/* Intro Section */
.intro {
  background: hsl(217, 28%, 15%);
  text-align: center;
  margin-bottom: 200px;
}
.intro__image-block {
  width: 50%;
  margin: auto;
}
.intro__image {
  width: 100%;
}
.intro__title {
  font-size: 40px;
  width: 50%;
  margin: 50px auto;
}
.intro__paragraph {
  font-size: 18px;
  width: 39%;
  margin: auto;
}
.intro__button {
  margin: 25px 0;
}
/*  What we offer section*/
.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 100px;
  margin-bottom: 200px;
}
.offer__block {
  text-align: center;
  width: 58%;
}
.offer__block:nth-child(odd) {
  justify-self: end;
}
.offer__block__image {
  height: 80px;
}
.offer__block__title {
  margin-bottom: 0;
}
/* Productive Section */
.productive {
  display: flex;
  padding: 0 125px;
  margin-bottom: 200px;
}
.productive__image-block,
.productive__content {
  flex: 1 1 0;
  align-self: center;
}
.productive__image-block {
  margin-right: 75px;
}
.productive__image {
  width: 100%;
}
.productive__title {
  font-size: 40px;
  width: 89%;
}
.productive__paragraph {
  width: 90%;
}
.productive__link {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 5px;
}
.productive__link__icon {
  vertical-align: middle;
}
/* Testimonials section */
.quotes {
  background: no-repeat url(../images/bg-quotes.png);
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  top: -35px;
  left: 145px;
}
.testimonial {
  position: relative;
  display: flex;
  padding: 0 125px;
  margin-bottom: 200px;
}
.testimonial__block {
  background: hsl(219, 30%, 18%);
  border-radius: 5px;
  box-shadow: 2px 2px 0.5rem hsl(220, 21%, 16%);
  margin: 0 30px;
  padding: 40px 20px 20px 20px;
}
.testimonial__quote {
  margin: 0px 0px 20px 0px;
}
.testimonial__author {
  display: flex;
  align-items: center;
}
.testimonial__avatar {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-right: 10px;
}
.testimonial__name-block {
  display: flex;
  flex-direction: column;
}
.testimonial__name {
  font-weight: 700;
  font-size: 12px;
}
.testimonial__job {
  font-size: 10px;
}
/* Early Access Section */
.access {
  background: hsl(217, 28%, 15%);
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 50px 75px;
  text-align: center;
}
.access__title {
  font-size: 30px;
  margin: 0;
}
.access__paragraph {
  width: 90%;
  margin: 25px auto;
}
.access__email {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  width: 60%;
  margin-right: 30px;
  margin-bottom: 20px;
}
.access__button {
  padding: 15px 25px;
}
/* Footer */
.footer {
  background: hsl(216, 53%, 9%);
  padding: 250px 100px 125px 125px;
}
.footer__links {
  display: flex;
  justify-content: space-between;
}
.footer__facts {
  display: flex;
  width: 50%;
  padding-left: 20px;
}
.footer__facts__item {
  margin-bottom: 25px;
  padding-left: 10px;
}
.footer__facts__location {
  list-style-image: url(../images/icon-location.svg);
  width: 70%;
}
.footer__facts__phone {
  list-style-image: url(../images/icon-phone.svg);
}
.footer__facts__email {
  list-style-image: url(../images/icon-email.svg);
}
.footer__menu {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__menu__block-one {
  margin-left: 50px;
}
.footer__menu__block-two {
  margin-left: 75px;
}
.footer__menu__item {
  margin-bottom: 25px;
}
.footer__menu__link {
  color: #ffffff;
  text-decoration: none;
}
.footer__social-links {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__social-link {
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #ffffff;
}

/* Media Queries */
@media all and (max-width: 980px) {
  /* Header Section */
  .header {
    padding: 50px 0 100px 50px;
  }
  .header__menu__item {
    margin-right: 50px;
  }
  /* Intro Section */
  .intro {
    padding: 0 50px;
  }
  .intro__image-block {
    width: 75%;
  }
  .intro__title {
    font-size: 34px;
    width: 75%;
  }
  .intro__paragraph {
    width: 60%;
    font-size: 16px;
  }
  /*  What we offer section*/
  .offer__block {
    width: 75%;
  }
  /* Productive Section */
  .productive {
    padding: 0 75px;
  }
  .productive__title {
    font-size: 34px;
    width: 100%;
  }
  .productive__paragraph {
    width: 100%;
  }
  /* Testimonials section */
  .quotes {
    left: 75px;
  }
  .testimonial {
    padding: 0 75px;
  }
  .testimonial__block {
    margin: 0 10px;
  }
  /* Early Access Section */
  .access__email {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
  }
  .access__button {
    width: 100%;
  }
  /* Footer */
  .footer {
    padding: 250px 50px 125px 50px;
  }
  .footer__menu__block-two {
    margin-left: 25px;
  }
  .footer__social-links {
    margin-left: 20px;
  }
}
@media all and (max-width: 740px) {
  /* Header Section */
  .header {
    padding: 50px 0 100px 20px;
  }
  .header__logo {
    width: 25%;
  }
  .header__menu__item {
    margin-right: 20px;
  }
  /* Intro Section */
  .intro {
    padding: 0 30px;
  }
  .intro__image-block {
    width: 100%;
  }
  .intro__title {
    font-size: 24px;
    width: 100%;
  }
  .intro__paragraph {
    width: 100%;
    font-size: 15px;
  }
  /*  What we offer section*/
  .offer {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
  .offer__block {
    width: 100%;
    justify-self: center;
  }
  .offer__block:nth-child(odd) {
    justify-self: center;
  }
  /* Productive Section */
  .productive {
    flex-direction: column;
    padding: 0 30px;
  }
  .productive__image-block {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .productive__title {
    font-size: 19px;
    text-align: center;
  }
  /* Testimonials section */
  .quotes {
    background: no-repeat url(../images/bg-quotes.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    top: -5px;
    left: 35px;
  }
  .testimonial {
    flex-direction: column;
    padding: 0 30px;
    font-size: 13px;
  }
  .testimonial__block {
    padding: 20px 15px 20px 15px;
    margin: 15px 0;
  }
  /* Early Access Section */
  .access {
    width: auto;
    padding: 50px 25px;
    margin: 0 20px;
  }
  .access__title {
    font-size: 20px;
  }
  .access__paragraph {
    width: 100%;
  }
  /* Footer */
  .footer {
    padding: 250px 20px 50px 20px;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__facts {
    flex-direction: column;
    width: auto;
  }
  .footer__facts__location {
    width: auto;
  }
  .footer__menu {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer__menu__block-one {
    margin-left: 0;
  }
  .footer__menu__block-two {
    margin-left: 0;
  }
  .footer__social-links {
    align-self: center;
  }
}
